img{
  display: block;
  max-width: 100%;
}


.modal_container{
  background: #000;
  padding: 1.875rem;
  display: none;

}
.modal_image_container{
  max-width: 400px;

}

.active{
  display: block;
}

.cropped_image_modal_container{
  background: ccc;
  padding: 30px;
  

}

.shape_button_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shape_button_container img {
  max-width: 50px;
}

.hide {
  display: none;
}